[submodule "Tars/vendor/spdlog"]
	path = Tars/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tars/vendor/GLFW"]
	path = Tars/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Tars/vendor/imgui"]
	path = Tars/vendor/imgui
	url = https://github.com/TheCherno/imgui
